body {
    
    background-color: #000000;
    
    
	font-family: Arial, sans-serif;
}

.container {
	max-width: 800px;
	margin: 0 auto;
	padding: 20px;
	background-color: #000000;
	border: 2px solid #ffffff;
}


.project {
	margin-bottom: 20px;
	background-color: #fff;
	padding: 10px;
	border-radius: 5px;
}

.project-title {
	font-size: 18px;
	margin-bottom: 5px;
}

.project-description {
	margin-bottom: 10px;
}

.skills-list {
	list-style-type: none;
	margin-bottom: 20px;
}

.skills-list li {
	margin-bottom: 5px;
}

.photo {
	text-align: center;
	margin-bottom: 20px;
}

.photo img {
	border-radius: 60%;
	width: 300px;
	height: 300px;
	object-fit: cover;
	display: block;
	margin: 0 auto;
	border: 3px solid #ffffff; /* Cambia el color y el grosor del borde según tus preferencias */
}
